:root {
  --wedding-blue: #0646c8;
  --wedding-blue-dark: #022e8a;

  --wedding-yellow: #f2b705;
  --wedding-yellow-bright: #ffd928;

  --background: #fffdf5;

  --text: #3f3f3f;
  --text-light: #77736b;

  --line: #cad4ea;

  --wedding-yellow-darker: #f2b705;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;

  background: var(--background);
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.page-title {
  font-weight: 900;
  color: var(--wedding-blue-dark);
}
/* -----------------------
       BOTTOM NAV
    ----------------------- */
/* -----------------------
   BOTTOM NAV
----------------------- */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  height: 82px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgba(255, 252, 245, 0.96);
  border-top: 1px solid rgba(190, 180, 160, 0.35);

  z-index: 9999;

  pointer-events: auto;

  transform: translateZ(0);

  padding-bottom: env(safe-area-inset-bottom);
}

.nav-item {
  flex: 1;
  height: 100%;
  position: relative;

  border: none;
  background: transparent;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2px;

  cursor: pointer;

  font-family: 'Montserrat', sans-serif;

  color: #4f4b45;

  transition: 0.2s ease;
  overflow: hidden;
}

.nav-item i {
  font-size: 20px;
  margin-bottom: 3px;
}

.nav-label-en {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  line-height: 1.1;
  font-weight: 500;

  white-space: nowrap;
}

.nav-label-cn {
  font-family: 'Noto Serif SC', serif;
  font-size: 9px;
  line-height: 1.1;
  font-weight: 400;

  white-space: nowrap;

  color: #77716a;
}

.nav-item.active {
  color: #1d3fa3;
}

.nav-item.active .nav-label-cn {
  color: #1d3fa3;
}

.nav-item.active::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 3px;

  background: var(--wedding-yellow-bright);

  border-radius: 0 0 3px 3px;
}

.nav-item:first-child.active::before {
  border-radius: 22px 0 0 0;
}

.nav-item:last-child.active::before {
  border-radius: 0 22px 0 0;
}

.nav-item:hover {
  color: #1d3fa3;
}

.nav-item:hover .nav-label-cn {
  color: #1d3fa3;
}

/* -----------------------
   DESKTOP
----------------------- */

@media (min-width: 768px) {
  .bottom-nav {
    width: 500px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;

    height: 82px;

    border: 1px solid #ddd;
    border-radius: 22px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);

    overflow: hidden;
  }
}
